include ../logo/logo.jade
include navigation/navigation.jade
include product-description/product-description.jade


mixin header
  header.header.header--background-img
    .header__transparent-border
    +logo
    .container
      +navigation
      +product-description
