extends ../blocks/layout-default/layout-default.jade
include ../blocks/content/product-description/product-description.jade
include ../blocks/content/content-wrapper/content-wrapper.jade


block content
  +product-description
  +content-wrapper
