mixin citation
  article.citation
    blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec leo nisi, feugiat vel placerat vitae, vulputate ac nibh. Ut scelerisque quis nulla sed tempor.
    
    .citation-control
      button.citation-control__btn.citation-control__btn-left
      
      button.citation-control__btn.citation-control__btn-right.citation-control__btn--active
        
