mixin footer
  footer.footer
    .container
      .footer--left
        section.footer__contacts
          ul
            li
              a(href='tel:+649555555') P +64 9555 555
            li
              a(href='tel:+649555555') F +64 9555 555
            li
              a(href='mailto:info@email.com') E info@email.com
            li
              p Address
                br
                a(href='mailto:http://www.lipsum.com/') http://www.lipsum.com/

      .footer--right
        ul.footer__category
          li.footer__category
            a.footer__category-title(href='') Services
          li.footer__category-item 
            a(href='') Commercial
          li.footer__category-item 
            a(href='') Distribution
          li.footer__category-item 
            a(href='') Gas
          li.footer__category-item 
            a(href='') Generation
          li.footer__category-item 
            a(href='') Industrial
          li.footer__category-item 
            a(href='') Telecomms
          li.footer__category-item 
            a(href='') Transmission
          li.footer__category-item 
            a(href='') Water
            
        ul.footer__category
          li.footer__category-item
            a.footer__category-title(href='') Markets
          li.footer__category-item 
            a(href='') Comerical
          li.footer__category-item 
            a(href='') Industrial
          li.footer__category-item 
            a(href='') Infrastructure
          li.footer__category-item 
            a(href='') Resources
          li.footer__category-item 
            a(href='') Utitlities

        ul.footer__category
          li.footer__category-item
            a.footer__category-title(href='') HSEQ
          li.footer__category-item
            a(href='') Health &
          li.footer__category-item
            a(href='') Safety
          li.footer__category-item
            a(href='') Environment
          li.footer__category-item
            a(href='') Quality
          
        ul.footer__category
          li.footer__category-item
            a.footer__category-title(href='') About
          li.footer__category-item
            a(href='') History
          li.footer__category-item
            a(href='') Structure
          li.footer__category-item
            a(href='') People
          li.footer__category-item
            a(href='') CSR
          li.footer__category-item
            a(href='') Locations
          li.footer__category-item
            a(href='') PPV
          
        ul.footer__category
          li.footer__category-item
            a.footer__category-title(href='') Careers
          li.footer__category-item
            a(href='') Who we are
          li.footer__category-item
            a(href='') Benefits
          li.footer__category-item
            a(href='') Programmes
          li.footer__category-item
            a(href='') Our People
          li.footer__category-item
            a(href='') Roles/
          li.footer__category-item
            a(href='') Vacancies
