.footer{
  padding-top: 45px;
  padding-bottom: 200px;
  background-color: $clr-geraldine;
}

.footer .container{
  display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;

}

@media (max-width: 400px){
  .footer .container{
    flex-wrap: wrap;
  }
}

.footer--left{
  width: 125px;
  margin-right: 185px;
  margin-bottom: 15px;
}

.footer--right{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.footer a,
.footer p {
  font-size: 12px;
  line-height: 24px;
  color: $clr-white;
}

.footer p {
  padding-top: 35px;
}

.footer__category{
  margin-bottom: 15px;
  // display: block;

  // margin-right: 55px;
}


.footer__category-title{
  font-weight: 700;
}
