.navigation__list{
  // display:flex;
}

.navigation__item{
  display: inline-block;
  width: 100px;
  padding: 27px 0;
  margin-right: 50px;

  a{
    font-size: 15px;
    font-style: bold;
    color: $clr-white;
  }
}
