mixin navigation
  nav.navigation.container
    ul.navigation__list
      li.navigation__item
        a(href='') Commerical
      li.navigation__item
        a(href='') Industrial
      li.navigation__item
        a(href='') Infrastructure
      li.navigation__item
        a(href='') Resourses
      li.navigation__item
        a(href='') Utilities
